
<h1>Student List</h1>
<div class="container">
<div id="student">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" [(ngModel)]="sid"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" [(ngModel)]="sname"></td>
        </tr>
        <tr>
            <td>class</td>
           <td>
               <select [(ngModel)]="std">
                   <option *ngFor="let item of stds">{{item}}</option>
                   <!--<option >I</option>
                   <option >II</option>
                   <option >III</option>
                   <option >IV</option>
                   <option >V</option>-->
           </select>
        </td> 
        </tr>
        <tr >
            <td>Age</td>
            <td><input type="text" [(ngModel)]="age"></td>
        </tr>
        <tr>
            <td>
                <button (click)="Add()" class="btn btn-primary">Add</button>
                <button (click)="Setval()" class="btn btn-info">{{val?'Hide':'Show'}}</button>
            </td>
        </tr>
    </table>

</div>
</div>
<table class="table table-responsive">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th *ngIf="val">Class</th>
        <th *ngIf="val">Age</th>
    </tr>
    <tr *ngFor="let item of list">
      <td>{{item.sid}}</td>
      <td>{{item.sname}}</td>
      <td *ngIf="val">{{item.std}}</td>
      <td *ngIf="val">{{item.age}}</td>
    </tr>
</table>
