@model Employ
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form class="align-control-center"asp-controller="Employ" asp-action="Register" method="post">
    <div>
        <label asp-for="Id">Id</label>
        <input asp-for="Id"  required/>
    </div>
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" required />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email"  type="email"/>
    </div>
    <div>
        <label asp-for="dept">Dept</label>
        <input asp-for="dept" />
    </div>
   
    <div>
        <input type="submit" value="Register" />
    </div>
</form>

