
@{
    ViewData["Title"] = "CreateDashboard";
}

<h1>CreateDashboard</h1>
<h4 class="text-right text-primary"><a asp-action="Logout" asp-controller="Cookie">Logout</a></h4> 
<h4 class="text-right text-danger">Welcome @ViewBag.uname</h4>
@*@if(Context.Session.GetString("Uname")!=null)*@
@*{ <h4 class="text-right"}*@
<h4 class="text-right text-danger">Welcome @ViewBag.lldt</h4>
